.default-color0.chart-bar {
    -fx-bar-fill: #FFFF00;
    }
.default-color1.chart-bar {
    -fx-bar-fill: #FF0000;
    }
.default-color2.chart-bar {
    -fx-bar-fill: #00FF00;
    }

.default-color3.chart-bar {
    -fx-bar-fill: #FFFF00;
    }
.default-color4.chart-bar {
    -fx-bar-fill: #FF0000;
    }
.default-color5.chart-bar {
    -fx-bar-fill: #00FF00;
    }